<td class="1 unfilled"><svg height="100" width="100"><circle cx="50" cy="55" r="40" fill="white"/></svg></td>

<td class="2 unfilled"><svg height="100" width="100"><circle cx="50" cy="55" r="40" fill="white"/></svg></td>

<td class="3 unfilled"><svg height="100" width="100"><circle cx="50" cy="55" r="40" fill="white"/></svg></td>

<td class="4 unfilled"><svg height="100" width="100"><circle cx="50" cy="55" r="40" fill="white"/></svg></td>

<td class="5 unfilled"><svg height="100" width="100"><circle cx="50" cy="55" r="40" fill="white"/></svg></td>

<td class="6 unfilled"><svg height="100" width="100"><circle cx="50" cy="55" r="40" fill="white"/></svg></td>

<td class="7 unfilled"><svg height="100" width="100"><circle cx="50" cy="55" r="40" fill="white"/></svg></td>
