<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/application.js"></script>

  <title>Connect Four</title>
</head>
<body>

  <%= erb :_nav %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= erb :_messages, locals: {error: error} %>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
