<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/model.js"></script>
  <script src="/js/controller.js"></script>

  <title>Connect Four</title>
</head>
<body>

  <%= erb :_nav %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= erb :_messages, locals: {error: error} %>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
